---
import "../styles/base.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Doctor's Website" />
        <meta name="viewport" content="width=device-width" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body class="bg-background text-primary">
        <header class="bg-background p-4 border-b-2">
            <nav class="container mx-auto flex justify-between items-center">
                <a href="/" class="text-2xl font-bold text-accent"
                    >Patientenbuch</a
                >
                <ul class="flex space-x-4">
                    <li>
                        <a
                            href="/login"
                            class="text-accent hover:text-secondary"
                            >Login/Register</a
                        >
                    </li>
                    <li>
                        <a
                            href="/appointments"
                            class="text-accent hover:text-secondary"
                            >Appointments</a
                        >
                    </li>
                    <li>
                        <a
                            href="/clients"
                            class="text-accent hover:text-secondary">Clients</a
                        >
                    </li>
                    <li>
                        <a
                            href="/cases"
                            class="text-accent hover:text-secondary">Cases</a
                        >
                    </li>
                </ul>
            </nav>
        </header>
        <main class="container mx-auto p-4">
            <slot />
        </main>
        <footer class="bg-background p-4 mt-8 border-t-2">
            <div class="container mx-auto text-center">
                <a href="/impressum" class="text-accent hover:text-secondary"
                    >Impressum</a
                >
                <p class="mt-2">
                    &copy; 2025 Buchinger&Palma. All rights reserved.
                </p>
            </div>
        </footer>
    </body>
</html>

<style is:global>
    :root {
        --color-primary: #def9c4;
        --color-secondary: #9cdba6;
        --color-accent: #50b498;
        --color-background: #468585;
    }
    html {
        font-family: system-ui, sans-serif;
        color: var(--color-accent);
    }
    .text-accent {
        color: var(--color-accent);
    }
    .text-secondary {
        color: var(--color-secondary);
    }
</style>
